<title>Babble</title>
<%- include('../headers') %>

<body class="bg-white w-full">
    <section class="theme-text body-font relative">
        <div class="container flex px-5 py-1 mx-auto h-full">
            <%- include('./left.ejs') %>
            <div class="tweetContainer lg:w-1/2 md:w-2/3 mx-auto border-r border-l theme-border-gray-300 px-2 py-2 h-full
                overflow-y-auto overflow-x-hidden">
                <div class="flex flex-wrap -m-2">
                    <div class="p-2 w-full border-b theme-border-gray-300">
                        <h1 class="text-xl theme-text font-bold">Home</h1>
                        <div class="float-right -mt-6 pb-2">
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                            </svg>

                        </div>
                    </div>

                    <form method="POST" enctype="multipart/form-data" action="/post" class="w-full">
                        <div class="p-3 w-full flex">
                            <img src="<%= user.profile_pic %>"
                                alt="" class="h-10 w-10 rounded-full">
                            <input type="text" name="caption" id="postCont"
                                class="caption w-full rounded focus:outline-none foucs:border-b border-gray-200 h-10 text-base px-4 py-2 resize-none block theme-bg"
                                placeholder="Whats Happening?" />
                        </div>
                        <div class="p-2 w-full border-b-8 pb-3 theme-border-gray-300 flex">
                            <div class="w-full flex space-x-2 -mt-2">
                                <button type="button" id="upImage"
                                    class="h-8 w-8 mt-4 mx-4 rounded-full bg-gray-300 p-2 hover:bg-gray-400 focus:outline-none"
                                    title="Upload Image">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                                    </svg>
                                </button>
                                <%- include('./uploadImage.ejs') %>
                            </div>
                            <button type="submit" onclick="createPost($('.tweetMSg').val())"
                                class="flex mx-auto text-white bg-indigo-500 border-0 py-1 px-8 focus:outline-none rounded-full text-lg float-right h-10 py-1"
                                style="height: 40px;padding-top: 6px;">Post</button>

                        </div>

                    </form>
                    <div class="postsContainer w-full h-auto">
                        <%- include('./posts.ejs') %>
                    </div>
                </div>
            </div>
            <div class="flex flex-col w-1/4 -ml-5 mb-12">
                <%- include('./right.ejs') %>
            </div>
        </div>
    </section>

    <%- include('./postComment.ejs') %>
    <script src="/s/javascript/comment.js"></script>
    <script>
        document.querySelector("#upImage").onclick = () => {
            $("#upImageModal").show()
        }
    </script>
</body>

</html>